/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
    /* background-image: url('./images/bg.jpg'); */
    background-image: url(./back.jpg);
    background-size:cover;

}

/* Header Styles */
header {
    background: #333333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Section Styles */
section {
    padding: 50px;
    text-align: center;
}

h2 {
    color: #333;
}

/* Skills List */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    background: #555;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
}

/* Projects */
.project {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Contact */
#contact a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
